<p id="notice"><%= notice %></p>

<h1>Team Member Achievements</h1>

<table>
  <thead>
    <tr>
      <th>Team member</th>
      <th>Achievement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_member_achievements.each do |team_member_achievement| %>
      <tr>
        <td><%= team_member_achievement.team_member %></td>
        <td><%= team_member_achievement.achievement %></td>
        <td><%= link_to 'Show', team_member_achievement %></td>
        <td><%= link_to 'Edit', edit_team_member_achievement_path(team_member_achievement) %></td>
        <td><%= link_to 'Destroy', team_member_achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Member Achievement', new_team_member_achievement_path %>
