<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @achievement.order %>
</p>

<p>
  <strong>Description:</strong>
  <%= @achievement.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @achievement.goal %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
